{%extends 'main/base.html'%}
{%load Bootstrap4 %}
{%load static %}
{%block content%}
<div class="" style="font-family: 'Jost', sans-serif;">
    
    <div class="container-fluid">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Awwards</h2>
                <p class="lead">Check out other peoples projects, Review and Rate them! You can also post yours to be reviewed!
                </p>
            </div>
        </div>
        <h3>Featured Projects</h3>
        <div class="row">
            {%for proj in projects%}
            <div class="col-md-3">
                <div class="card">
                    <div class="view view-cascade overlay">
                        <img src="{{proj.projectscreenshot.url}}" class="img-fluid" alt="">
                        <a href="projects/{{proj.id}}">
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="">{{proj.title}}</h5>
                        <a href="projects/{{proj.id}}">Readmore</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
    {%endblock%}
